
html, body{
    overflow: hidden;
    height: 100%;
    margin: 0;
}

/* Background */
body{
    margin: 0;
    padding: 50px;
    height: 100vh;
    text-align: center;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    
    text-align: center;
    padding: 50px;
}

.Left{
    display: none;
    position: fixed;
    top: 55px;
    left: 0;
    width: 50px;
    height: auto;
    animation:Rotate 1.5s infinite linear ;
}

/* End of background */

/* Text (1/5) */
h1{
    padding: 10px;
    color: rgb(243, 109, 109);
}

p{
    margin-bottom: 40px;
    color: rgb(243, 109, 109);
}
/* End of text (1/5)


/* Upgrade buttons */
button{
    background-color: rgb(243, 109, 109);
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    font-family: 'Quicksand', sans-serif;
}

/* End of Upgrade buttons */

/* disable button */
button:disabled{
    background-color: black;
    color: white;
}
/* End of disable button */


/* Orange image */
.Main{
    background: transparent;
    background-image: url("../images/orange1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    padding: 110px 110px;
    font-size: 30px;
    border-radius: 30px;
    transition: all 0.5s ease;
    margin-bottom: 30px;
    color: orange;
    cursor: pointer;
    position: relative;
    z-index: 1;

}

.Orange {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: auto;
    margin: 0;
    bottom: auto;
    width: 220px;
    height: 220px;
    border-radius: 30px;
    overflow: hidden;
    background-color: transparent;
    box-sizing: border-box; 

    
}

.juice-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(180deg, rgba(235, 111, 2, 0.943), rgba(164, 88, 1, 0.983)),
    url('../images/background.png');
    border-radius: 0 0 30px 30px;
    pointer-events: none;
    transition: height 0.5s ease-out;
    z-index: 0;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.bubbles span {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: rise infinite ease-in;
}




/* End of orange image */

/* Animation for orange */
.Main:active{
    animation: shake 2s; 
}

/* End of Orange button */

/* Home and save button */
.MainButton{
    position: fixed;
    top: 5px;
    left: 0;
    background-color: rgb(248, 111, 111);
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    flex-grow: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.9s ease;
    animation: shake 0.5s;

    background-image: url("../images/wood-backing.png");
    background-size: 365px 450px;
    background-repeat: no-repeat;
    padding: 15px;
}

.MainButton button:hover:enabled {
    background-color: black;
    color: white;
}
/* Home and save button */

/* smaller text (2/5) */
h2{
    color: rgb(243, 109, 109);
    margin-bottom: 0;
}
/* End of smaller text (2/5) */

/* rebirth button */
.rebirth-panel {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-size: 20px;
    color: rgb(241, 166, 166);

    background-image: url("../images/wood-backing.png");
    background-size: 400px 450px;
    background-repeat: no-repeat;
    
    
}
.rebirth-panel h2,
.rebirth-panel p {
    margin: 0;
    color: rgb(241, 166, 166);
}
.rebirth-panel button {
    height: auto;
}

/* End of rebirth */

/* Upgrade Buttons */
.upgrade-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
    background-image: url("../images/wood-backing.png");
    background-size: 365px 450px;
    background-repeat: no-repeat;
    padding: 15px;

    margin-left: 0;
    align-self: flex-start;
    left: 0;

}

#upgrade-amount-buttons button,
#upgrade-multi-buttons button {
    padding:8px 12px;
    font-size: 14px;
    flex-grow: 0;
    font-family: 'Quicksand', sans-serif;
}

#upgrade-amount-buttons button:hover:enabled,
#upgrade-multi-buttons button:hover:enabled {
    background-color: rgb(133, 51, 51);;
    color: rgb(255, 224, 165);
}

#MultiUpgradeCosts button {
  padding: 20px 30px;  
  font-size: 16px;    
  width: auto;        
  max-width: none;
  border-radius: 10px;
  color: black;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#click-upgrades button {
    margin:  0 4px;
    padding: 6px 12px;
}


#MultiUpgradeCosts p {
    margin: 4px 0;
}

#Extra {
    position: absolute;
    background: none;
    color: transparent;
    top: 0;
    right: 0;
    z-index:0;
}

#Auto {
    position: absolute;
    background: none;
    color: transparent;
    top: 0;
    right: 0;
    z-index:0;

}

#speed {
    align-self: flex-start;
}

#MultiUpgradeCostDisplay {
    color: transparent;
}

#AutoClickCost {
    color: transparent;
}
/* Footer */
footer{

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    gap: 20px;

    background-image: url("../images/wood-backing.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}
/* End of footer*/

/* orange falling */
.particle {
    position: absolute;
    width: 50px;
    height: 50px;
    pointer-events: none;
    animation: fallAndsparkle 1s ease-out forwards;
    z-index: 9999;
    opacity: 0.8;
}

.falling-orange {
    position: absolute;
    top: -50px;
    width: 50px;
    height: 50px;
    pointer-events: none;
    animation: fallFromTop 3s linear forwards;
    z-index: 0;
}

/* End or orange falling */



/* Animation */

.shake {
    animation: shake 0.5s;
}

@keyframes rise {
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes fallFromTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh);
        opacity: 0;
    }
}
  
@keyframes fallAndsparkle {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    50% {
        opacity: 0.8;
        transform: translate(var(--dx), var(--dy)) scale(1.5);
    }
    100% {
        opacity: 0;
        transform: translate(var(--dx), var(--dy)) scale(0.5);
        filter: blur(1px);
    }
}


@keyframes shake{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    50%{transform:rotate(0deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
        
}

@keyframes Rotate{
    0%{transform: rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform: rotate(360deg);}

}

@keyframes glow {
    0%{
        box-shadow: 0 0 15px orange;
    }
    50%{
        box-shadow: 0 0 30px orange;
    }
    100%{
        box-shadow: 0 0 60px orange;
    }
}

@keyframes gradientShift {
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%;}
}

/* End of animation */
