@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif , serif;
    padding-top:50px;
    margin: 0;
    
}

header{
    background-color: #3C6E71;
    color: #FFFFFF;
    display: flex;
    position:fixed;
    z-index: 10;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    top: 0;
    left: 0;
    gap: 20px;
    align-items:center;
    justify-content: end;
    padding-right: 30px;
}

header div{
    display: flex;
    align-items: center;
    gap:inherit;
}

.Burger{
    display: none;
}

footer{
    background-color: #3C6E71;
    color: white;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 100px;
    margin-top: 120px;
}

footer p{
    padding-left: 100px;

}

header a{
    text-decoration: none;
    color: inherit;
}

a{
    color: black;
}

button{
    background-color: #3C6E71;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 50px;
    transition: all 0.25s ease-in-out;
}

button:hover{
    background-color: #315a5c;
}

.Logo{
    width: 60px;
    height: auto;
    margin-right: auto;
    padding-left: 20px;
}

.Hero{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    color: white;
}

.Hero button{
    position: absolute;
    bottom: 60px;
    right: 10px;
    font-size: 3vh;
    padding: 2vh 2.5vh;
    
    margin-top: 5px;
}

.HeroText{
    font-family: 'Roboto',sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    color:white;
    font-size: 10vw;
    font-weight: bold;
}

.HeroDescription{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-10%);
    color:white;
    font-size: 2vw;
    font-weight: thin;
}

.HeroImage{
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 40px;
}

.container{
    border: 1px solid black;
    width: inherit;
    padding-inline: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.containerThumbnail{
    margin: -40px;
    width: calc(100% + 80px);
    height: auto;
    margin-bottom: 20px;
}

.title{
    color: #3C6E71;
}

.CardContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card{
    border: 1px solid black;
    border-radius:20px ;
    width: 250px;
    height: 200px;
    padding-bottom:10px;
    overflow: hidden;
}

.V-card{
    border-radius: 20px;
    width: 200px;
    height: 500px;
    border: 1px solid black;
    padding-inline: 5pxpx;
    text-align: center;
}

.V-card h1{
    color: #3C6E71;
    font-size: 45px;
    text-align: center;
}

.V-card h3{
    color: rgb(92, 91, 91);
    text-align: left;
}

.V-card li{
    text-align: left;
    padding-left: 15px;
}

.V-card hr{
    margin-inline: 20px;
}

.ProjectCardContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ProjectCard{
    overflow: hidden;
    height: 150px;
    display: flex;
    gap:20px;
    border: 1px solid black;
    border-radius: 20px;
}

.thumbnail{
    padding: 0;
    width: inherit;
    height: auto;
}

h3{
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

cardP{
    padding-left: 10px;
}

.blur{
    z-index: 12;
    position: fixed;
    inset: 0;
    background: rgba(81, 111, 131, 0.3);
    backdrop-filter: blur(8px);

}

.PopUp{
    position: fixed;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #FFFFFF;
    z-index: 13;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    transform: translate(-50%,-50%);
}

/*Vertical alignment*/

.Menu{
    display: none;
    height: 100vh;
    width: 100vw;
    padding-top: 40px;
    border-top: 1px solid #315a5c;
    background-color: #3C6E71;
    position: fixed;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    z-index: 11;
    transition: all 1s ease-out;
}

.Menu a{
    color: #FFFFFF;
    font-size: 3vh;
}

@media(orientation:portrait){
    body::-webkit-scrollbar{
        display: none;
    }

    header div{
        display: none;
    }

    .Burger{
        display: flex;
        height: 30px;
        width: auto;
    }

    .HeroImage{
        height: 100vh;
        width: auto;
    }

    .HeroText{
        font-size: 20vw;
    }

    .HeroDescription{
        font-size: 4vw;
        text-align: center;
    }

    .Hero div a button{
        position: fixed;
        border: 1px solid #315a5c;
        bottom: 5px;
        right: 5px;
    }

    .wrapper{
        margin-inline: 10px;
        padding: 0;
        width: 90vw;
    }

    .container{
        margin: 0;
        padding: 10px;
        margin-bottom: 40px;
        text-align: center;
    }

    .CardContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .title{
        padding-left: 20px;
    }
}
