
body{
    background-color: cadetblue;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1{
    color: white;
}

p{
    color: white;
}

button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 15px darkmagenta;
    transition: all 0.9s ease;
    animation: pulseglow 1.5s infinite;
}

button:hover{
    background-color: darkgoldenrod;
    box-shadow: 0 0 25px blueviolet;
    animation: none;
}

.BigText{
    color: white;
    font-size: large;
    width: 80%;
    margin: 0 auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap:break-word ;
}

.Special{
    color: white;
    text-shadow:0 0 15px orange;
    animation: FunText 1s infinite ease-in-out ;
}

.images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden{
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: all 0.5s ease;
}

.visible{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@keyframes wave {
    0%,100% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
}

@keyframes FunText {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes pulseglow {
    0% {
        box-shadow: 0 0 15px darkmagenta;
    }
    50% {
        box-shadow: 0 0 30px darkmagenta;
    }
    100% {
        box-shadow: 0 0 15px darkmagenta;
    }
    
}
