@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #FFFFFF;
    font-family: roboto;
    padding-top:50px;
    margin: 0;
    
}

header{
    background-color: #3C6E71;
    color: #FFFFFF;
    display: flex;
    position:fixed;
    z-index: 10;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    top: 0;
    left: 0;
    gap: 20px;
    align-items:center;
    justify-content: end;
    padding-right: 30px;
}

footer{
    background-color: #3C6E71;
    color: white;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 100px;
    margin-top: 120px;
}

footer p{
    padding-left: 100px;

}

header a{
    text-decoration: none;
    color: inherit;
}

a{
    color: black;
}

button{
    background-color: #3C6E71;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 50px;
    transition: all 0.25s ease-in-out;
}

button:hover{
    background-color: #315a5c;
}

.Logo{
    width: 60px;
    height: auto;
    margin-right: auto;
    padding-left: 20px;
}

.Hero{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    color: white;
}

.Hero button{
    position: absolute;
    bottom: 60px;
    right: 10px;
    font-size: 3vh;
    padding: 2vh 2.5vh;
    
    margin-top: 5px;
}

.HeroText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    color:white;
    font-size: 10vw;
    font-weight: bold;
}

.HeroDescription{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-10%);
    color:white;
    font-size: 2vw;
    font-weight: thin;
}

.HeroImage{
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 40px;
}

.container{
    border: 1px solid black;
    width: inherit;
    padding-inline: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.containerThumbnail{
    margin: -40px;
    width: calc(100% + 80px);
    height: auto;
    margin-bottom: 20px;
}

.title{
    color: #3C6E71;
}

.CardContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card{
    border: 1px solid black;
    border-radius:20px ;
    width: 250px;
    height: 200px;
    padding-bottom:10px;
    overflow: hidden;
}

.thumbnail{
    padding: 0;
    width: inherit;
    height: auto;
}

h3{
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

cardP{
    padding-left: 10px;
}

/*Vertical alignment*/

@media(orientation:portrait){
    body::-webkit-scrollbar{
        display: none;
    }

    .HeroImage{
        height: 100vh;
        width: auto;
    }

    .HeroText{
        font-size: 20vw;
    }

    .HeroDescription{
        font-size: 4vw;
        text-align: center;
    }
}
